body{
    display: flex;
    flex-direction: column;

}


.section1, .section2, .section3, .section4, .header, .footer{
    display: flex;
}
.section1, .header, .footer{
    padding-left: 100px;
    padding-right: 100px;
    background-color: #1f2937;

}

.section2, .section4{
    background-color:white;
}

.section3{
    background-color: #E5E7EB;
}

.header{
    align-items: center;
    gap: 12px;
}

.logo{
    margin: 12px;
    margin-right: auto;
    height: 75px;
    width: auto;

}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
  }