body{
    display: flex;
    flex-direction: column;

}

.section1, .header, .footer{
    background-color: #1f2937;

}

.section2, .section4{
    background-color:white;
}

.section3{
    background-color: #E5E7EB;
}

.logo{
    margin: 12px;
    height: 75px;
    width: auto;

}